@font-face {
  font-family: 'BehindTheNineties';
  src: url('assets/fonts/BehindTheNineties-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messina';
  src: url('assets/fonts/MessinaSansMonoWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'BehindTheNineties', serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: url("assets/images/BackgroundPage2.png") no-repeat center center fixed;
  background-size: 100% 100%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 0.01rem 0.01rem;
  position: relative;
  margin-bottom: 0%;
}

.logo img {
  max-width: 9vw;
  height: auto;
}

.date {
  font-size: 1rem;
  font-weight: 600;
  color: #BA1C1C;
  padding-top: 1.75%;
  padding-right: 0.5%;
  letter-spacing: 0.15em;
}

/* Page Title (outside card) */
.page-title {
  padding-left: 17%;
  font-size: 2.25rem;
  font-weight: 500;
  color: #2D4531;
  margin-bottom: 0.5%;
  margin-top: 2%;
  letter-spacing: 0.1rem;
}

/* Card */
.card {
  background: #fff;
  margin: 0rem auto 2.5rem auto;
  padding: 1.2rem 2rem;
  border-radius: 30px;
  width: 70%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.15rem;
}

.product-title {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  margin-top: 1%;
  font-weight: 400;
  font-family: 'Messina', serif;
  letter-spacing: 0;
  color: #2D4531;
}

/* Tags Grid */
.tags-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(45, 69, 49, 0.5);
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

.tag-box {
  padding: 0.5rem 1rem;
  border-right: 1px solid rgba(45, 69, 49, 0.5);
}

.tag-box:last-child {
  border-right: none;
}

.label {
  font-size: 1rem;
  color: #2D4531;
  font-weight: 500;
  font-family: 'Messina', serif;
  letter-spacing: 0;
}

.value {
  font-weight: 600;
  font-size: 2rem;
  color: #2D4531;
  margin-top: 5%;
}


/* Ingredients */
.sub-heading {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2D4531;
  letter-spacing: 0rem;
  font-family: 'Messina', serif;
}

.section-divider {
  margin-top: 2%;
  color: rgba(45, 69, 49, 0.5);
}

.ingredients {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.2rem;
  font-size: 1.25rem;
  font-family: 'Messina', serif;
  color: #2d4531;
  letter-spacing: 0rem;
}

.ingredients thead th {
  padding: 0.4rem 0.5rem 0.75rem 0.5rem;
  text-align: left;
  font-weight: 500;
  color: #2d4531;
  border-bottom: 1px solid rgba(45, 69, 49, 0.5);
  white-space: nowrap;
}

.ingredients td {
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid rgba(45, 69, 49, 0.5);
  vertical-align: middle;
  white-space: nowrap;
  color: #2d4531;
}

/* left column */
.ingredients td.col-left,
.ingredients th.col-left {
  padding-left: 2%;
  text-align: left;
  font-weight: normal;
  padding-right: 0%;
  width: 45%;
}

/* center column */
.ingredients td.col-center,
.ingredients th.col-center {
  text-align: left;
  font-weight: normal;
}

/* right column */
.ingredients td.col-right,
.ingredients th.col-right {
  text-align: center;
}

/* flat badges */
.risk-tag {
  display: inline-block;
  padding: 0.2rem 1.5rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
}

/* colors */
.risk-tag.red {
  background: #FFB3B3;
  color: #2D4531;
}

.risk-tag.yellow {
  background: #FFE3A6;
  color: #2D4531;
}


/* Warnings */
.warning-box {
  background: #db4a4a;
  color: #FFEFCC;
  padding: 1rem 2.25rem;
  border-radius: 30px;
  margin: 2.5rem 0;

}

.warning-box .warning-box-title {
  margin: 0 0 0.2rem;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  font-weight: 500;
}

.warning-box .warning-box-content {
  font-size: 1rem;
  letter-spacing: 0rem;
  font-family: 'Messina', serif;
  padding: 0 1rem 0 0.5rem;
}

/* Recommendations */
.recommendations {
  padding: 0 2rem;
  margin-top: 4%;
  color: #2D4531;
  position: relative;
  z-index: 1;
}


.recommendations .recommendations-title {
  margin-bottom: 0.6rem;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.recommendations ol {
  margin-top: 2%;
  padding: 0 1rem 0 2.5rem;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0rem;
  font-family: 'Messina', serif;
}
.stamp-overlay {
  position: absolute;     
  bottom: -10%;
  right: 5%;          
  width: 25%;
  opacity: 0.7;
  transform: rotate(-15deg);
  pointer-events: none;
  z-index: 10;
}


@media (min-width: 319px) and (max-width: 460px) {
  header {
    margin-bottom: 5%;
  }

  .date {
    font-size: 0.4rem;
  }

  .card {
    margin: 0.75rem auto;
    padding: 0.75rem 1rem;
    border-radius: 20px;
    width: 80%;
  }

  .page-title {
    padding-left: 12%;
    font-size: 1.1rem;
    margin-bottom: 0%;
  }

  .product-title {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .tags-grid {
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    margin-top: 1rem;
  }

  .tag-box {
    padding: 0.5rem 0.2rem;
  }

  .label {
    font-size: 0.4rem;
    font-weight: 800;
  }

  .value {
    font-size: 0.75rem;
    margin-top: 10%;
  }

  .sub-heading {
    margin: 0 0 0.6rem;
    font-size: 0.75rem;
  }

  .ingredients {
    margin-bottom: 1rem;
    font-size: 0.55rem;
  }

  .risk-tag {
    padding: 0.2rem 1rem;
    font-size: 0.55rem;
  }

  .warning-box {
    padding: 1rem 1.5rem;
    border-radius: 30px;
    margin: 2rem 0;

  }

  .warning-box .warning-box-title {
    font-size: 1rem;
    padding-bottom: 2%;
  }

  .warning-box .warning-box-content {
    font-size: 0.55rem;
    padding: 0.5rem 1rem 0 0.5rem;
  }

  .recommendations {
    padding: 0 0.5rem;
  }

  .recommendations .recommendations-title {
    font-size: 0.75rem;
    width: 100%;
    padding-left: 1%;
  }

  .recommendations ol {
    margin-top: 2%;
    font-size: 0.5rem;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    overflow: visible !important;
  }

   body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 210mm;
    height: 297mm;
    background: url('assets/images/BackgroundPage2.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
  }
  

  * {
    box-shadow: none !important;
    background-image: none !important;
    transition: none !important;
  }

  .card {
    /*page-break-inside: avoid !important;*/
    margin: 1rem auto !important;
    padding: 0.75rem 1rem !important;
    border-radius: 20px !important;
    width: 80% !important;
  }


  header {
    margin-bottom: 5%;
  }

  .date {
    font-size: 0.5rem;
  }

  .page-title {
    padding-left: 12%;
    font-size: 1.55rem;
    margin-bottom: 0%;
  }
  .detailed-product-card{
    margin-top: 1% !important;
  }

  .product-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .tags-grid {
    margin-bottom: 0.75rem;
    padding-bottom: 0.25rem;
    margin-top: 1rem;
  }

  .tag-box {
    padding: 0.5rem 0.2rem;
  }

  .label {
    font-size: 0.55rem;
    font-weight: 800;
  }

  .value {
    font-size: 1rem;
    margin-top: 10%;
  }

  .sub-heading {
    margin: 0 0 1rem;
    font-size: 1.1rem;
  }

  .ingredients {
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }

  .risk-tag {
    padding: 0.2rem 1.2rem;
    font-size: 0.75rem;
  }

  .warning-box {
    padding: 1rem 1.5rem;
    border-radius: 30px;
    margin: 2rem 0;

  }

  .warning-box .warning-box-title {
    font-size: 1.5rem;
    padding-bottom: 1.5%;
  }

  .warning-box .warning-box-content {
    font-size: .85rem;
    padding: 0.5rem 1rem 0 0.5rem;
  }

  .recommendations {
    padding: 0 0.5rem;
  }

  .recommendations .recommendations-title {
    font-size: 1.25rem;
    width: 100%;
    padding-left: 1%;
  }

  .recommendations ol {
    margin-top: 2%;
    font-size: 0.85rem;
    
  }

  .stamp-overlay {   
  bottom: -5%;
  right: 0%;          
  width: 30%;
}


}

